.services {
    display: flex;
    padding: 0 3rem;
    justify-content: flex-start;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: .8rem;
    img {
        margin: 1rem;
    }
    .m {
        margin-bottom: .4rem;
    }
}

@media screen and (max-width: $bp-small) {
    .services {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }
    .service {
        display: flex;
        flex-direction: column;
        img {
            margin: 2rem;
        }
        .m {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }
}